@charset "utf-8";
/* CSS Document by Przemo */


html, body {
	font-family: verdana, sans-serif;
	background-color: blue;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
}

.wrap {
	margin: auto;
	width: 960px;
}

#header {
width: 705px;
height: 50px;
float: right;
background-color: #ccc;
}

#menu {text-align: center}

ul, ul li {
display: block;
list-style: none;
padding: 0px;

}

nav ul li {
display: inline;
white-space: nowrap;
float: auto;
}


nav ul a:link, a:visited {
text-decoration: none;
width: 80px;
text-align: center;
background-color: pink;
margin: 1px;
padding: 5px 35px;
}

#aside {
	float: left;
	background-color: #ccc;
	width: 250px;
	height: 276px;
}

#aside ul li {
text-decoration: none;
width: 80px;
text-align: center;
background-color: blue;
margin: 2px 5px;
padding: 5px 35px;
text-align: center;
}

#section {
	width: 705px;
	float: left;
	background-color: #ccc;
	margin-left: 5px;
	margin-top: 5px;
}

#footer {
	clear: both;
	width: 100%;
	background-color: #888;
}

 #white {
	background-color: white;
	margin:60px 45px;
	width: 160px;
	height: 190px;
}

 #white ul {
 	font-family: sans-serif;
	margin:2px 0px 0px 0px;
	width: 160px;
	height: 190px;
}

#button {
	float: left;
	color:black;
	text-decoration: none;
	width: 80px;
	text-align: center;
	background-color: green;
	padding: 5px 20px;
	margin-left: 20px;
	margin-top: 25px;
	
}

 nav a {
	font-family: cursive;
	color: black;
}